<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     version="3.0"
>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.medicare.home.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IndexServletDoctor</servlet-name>
    <servlet-class>com.medicare.doctor.controller.IndexServletDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServletDoctor</servlet-name>
    <url-pattern>/doctor</url-pattern>
  </servlet-mapping>

<!--  <servlet>-->
<!--    <servlet-name>CreateServletDoctor</servlet-name>-->
<!--    <servlet-class>com.medicare.doctor.controller.CreateServletDoctor</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>CreateServletDoctor</servlet-name>-->
<!--    <url-pattern>/doctor/create</url-pattern>-->
<!--  </servlet-mapping>-->

  <servlet>
    <servlet-name>IndexPatientServlet</servlet-name>
    <servlet-class>com.medicare.patient.controller.IndexPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPatientServlet</servlet-name>
    <url-pattern>/patient</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreatePatientServlet</servlet-name>
    <servlet-class>com.medicare.patient.controller.CreatePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePatientServlet</servlet-name>
    <url-pattern>/patient/create</url-pattern>
  </servlet-mapping>




</web-app>
